s3.amazonaws.com/Minecraft.Download/launcher/Minecraft.exe
files.minecraftforge.net/maven/net/minecraftforge/forge/1.11.2-13.20.0.2279/forge-1.11.2-13.20.0.2279-installer-win.exe
launcher.mojang.com/mc/launcher/jar/c4894b2cf7f491f8f05dbeeac92ab382b1ef941d/launcher.jar.lzma
